@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

.nachalo {
  width: 100vw;
  height: 60vh;
  background-color: #141414;
}
.nachalo .verhushka {
  width: 100vw;
  height: 15vh;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: end;
}
.nachalo .verhushka .menyu-nav {
  width: 80vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nachalo .verhushka .menyu-nav .brend-logo img {
  width: 160px;
  height: 48px;
}
.nachalo .verhushka .menyu-nav .ssylki-menyu {
  width: 30vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nachalo .verhushka .menyu-nav .ssylki-menyu ul {
  width: 30vw;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nachalo .verhushka .menyu-nav .ssylki-menyu a {
  width: 70px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  transition: all 0.3s ease;
}
.nachalo .verhushka .menyu-nav .ssylki-menyu a:hover {
  border: 0.5px solid gray;
  border-radius: 15px;
  background-color: #141414;
}
.nachalo .verhushka .menyu-nav .svyaz-ssylka {
  width: 4vw;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nachalo .verhushka .menyu-nav .svyaz-ssylka ul {
  width: 10vw;
  height: 5vh;
  display: flex;
  justify-content: center;
}
.nachalo .verhushka .menyu-nav .svyaz-ssylka ul li {
  display: flex;
  justify-content: center;
}
.nachalo .verhushka .menyu-nav .svyaz-ssylka ul li a {
  width: 96px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nachalo .verhushka .menyu-nav .svyaz-ssylka ul li a:hover {
  border: 0.5px solid gray;
  border-radius: 15px;
  background-color: #141414;
}
.nachalo .baner {
  width: 100vw;
  height: 42vh;
  display: flex;
  padding: 90px;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: url(photo/Text\ Container.png);
}
.nachalo .baner h1 {
  color: white;
  font-size: 48px;
}
.nachalo .baner p {
  color: #999999;
  font-size: 18px;
}

.poisk {
  width: 100vw;
  height: 30vh;
  background-color: #141414;
  display: flex;
  justify-content: center;
}
.poisk .poisk-centr {
  width: 1596px;
  height: 195px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.poisk .poisk-centr .poisk-stroka {
  width: 1300px;
  height: 103px;
}
.poisk .poisk-centr .poisk-stroka .pole-poiska {
  width: 1300px;
  height: 103px;
  padding: 10px;
  background-color: #141414;
  border-radius: 15px;
  border: 5px solid gray;
  color: white;
  font-size: 18px;
}
.poisk .poisk-centr .poisk-stroka .knopka-poiska {
  width: 185px;
  height: 63px;
  position: relative;
  left: 1100px;
  bottom: 85px;
  background-color: #703bf7;
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.poisk .poisk-centr .poisk-stroka .knopka-poiska:hover {
  background-color: #5a2fd6;
}
.poisk .poisk-centr .filtry-setka {
  width: 1596px;
  height: 92px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: gray;
  border: 5px solid gray;
  border-radius: 20px;
}
.poisk .poisk-centr .filtry-setka .filtr-vybor {
  width: 299px;
  height: 72px;
  border-radius: 20px;
  background-color: #141414;
  color: #999999;
  padding: 20px;
  border: 2px solid gray;
  font-size: 16px;
}

.nedvizhimost {
  width: 100vw;
  height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #141414;
}
.nedvizhimost .nedvizh-zagolovok {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nedvizhimost .nedvizh-zagolovok .nedvizh-tekst h1 {
  font-size: 48px;
  color: white;
}
.nedvizhimost .nedvizh-zagolovok .nedvizh-tekst p {
  color: #999999;
  font-size: 18px;
}
.nedvizhimost .nedvizh-zagolovok .knopka-vse {
  width: 126px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0.5px solid gray;
  border-radius: 10px;
  background-color: #1A1A1A;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nedvizhimost .nedvizh-zagolovok .knopka-vse:hover {
  background-color: #262626;
}
.nedvizhimost .nedvizh-setka {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka {
  width: 512px;
  height: 692px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #141414;
  border: 0.5px solid gray;
  border-radius: 15px;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka h2 {
  font-size: 24px;
  color: white;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka p {
  color: #999999;
  font-size: 18px;
  line-height: 1.5;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka p span {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka .nedvizh-harakteristiki {
  width: 432px;
  height: 42px;
  display: flex;
  justify-content: space-between;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka .nedvizh-harakteristiki span {
  width: 109px;
  height: 42px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border: 0.5px solid gray;
  border-radius: 40px;
  font-size: 14px;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka .nedvizh-niz {
  width: 432px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka .nedvizh-niz .nedvizh-cena p {
  color: #999999;
  font-size: 14px;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka .nedvizh-niz .nedvizh-cena h3 {
  color: white;
  font-size: 24px;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka .nedvizh-niz .nedvizh-podrobno {
  width: 279px;
  height: 63px;
  border: none;
  background-color: #703BF7;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.nedvizhimost .nedvizh-setka .nedvizh-kartochka .nedvizh-niz .nedvizh-podrobno:hover {
  background-color: #5a2fd6;
}
.nedvizhimost .paginaciya {
  width: 90vw;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nedvizhimost .paginaciya .paginaciya-liniya {
  width: 90vw;
  height: 0.1vh;
  background-color: gray;
}
.nedvizhimost .paginaciya .paginaciya-niz {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nedvizhimost .paginaciya .paginaciya-niz .paginaciya-info {
  color: #999999;
  font-size: 16px;
}
.nedvizhimost .paginaciya .paginaciya-niz .paginaciya-info span {
  color: white;
  font-weight: 600;
}
.nedvizhimost .paginaciya .paginaciya-niz .paginaciya-knopki {
  display: flex;
  gap: 15px;
}
.nedvizhimost .paginaciya .paginaciya-niz .paginaciya-knopki .strelka-krug {
  width: 58px;
  height: 58px;
  border: 0.5px solid gray;
  border-radius: 100px;
  color: white;
  font-size: 20px;
  background-color: #262626;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nedvizhimost .paginaciya .paginaciya-niz .paginaciya-knopki .strelka-krug:hover {
  background-color: #333333;
}

.zayavka {
  width: 100vw;
  height: 195vh;
  background-color: #141414;
}
.zayavka .zayavka-zagolovok {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.zayavka .zayavka-zagolovok .zayavka-tekst h1 {
  font-size: 48px;
  color: white;
}
.zayavka .zayavka-zagolovok .zayavka-tekst p {
  color: #999999;
  font-size: 18px;
}
.zayavka .zayavka-obertka {
  width: 100vw;
  height: 115vh;
  display: flex;
  justify-content: center;
}
.zayavka .zayavka-obertka .zayavka-blok {
  width: 1597px;
  height: 1318px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #141414;
  border: 2px solid gray;
  border-radius: 15px;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley {
  width: 1397px;
  height: 208px;
  display: flex;
  gap: 30px;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-gruppa {
  width: 1397px;
  height: 114px;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-gruppa .pole-label {
  width: 312px;
  height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: white;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-gruppa .pole-label .pole-vvod {
  width: 312px;
  height: 68px;
  padding: 10px;
  background-color: #141414;
  border-radius: 15px;
  border: 2px solid gray;
  color: white;
  font-size: 16px;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-vybor {
  width: 1379px;
  height: 114px;
  font-size: 12px;
  color: white;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-vybor .spisok {
  width: 312px;
  height: 68px;
  border-radius: 20px;
  background-color: #141414;
  color: #999999;
  padding: 20px;
  border: 2px solid gray;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-vybor-shirokoe {
  width: 1379px;
  height: 114px;
  font-size: 12px;
  color: white;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-vybor-shirokoe .spisok-shirokiy {
  width: 674px;
  height: 68px;
  border-radius: 20px;
  background-color: #141414;
  color: #999999;
  padding: 20px;
  border: 2px solid gray;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-kontakty {
  width: 984px;
  height: 114px;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-kontakty .pole-kontakt {
  width: 329px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-size: 12px;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-kontakty .pole-kontakt .pole-vvod {
  width: 329px;
  height: 68px;
  background-color: #141414;
  border-radius: 15px;
  border: 2px solid gray;
  color: white;
  font-size: 16px;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-soobshenie {
  width: 1397px;
  height: 216px;
  color: white;
  font-size: 12px;
}
.zayavka .zayavka-obertka .zayavka-blok .stroka-poley .pole-soobshenie .pole-tekst {
  width: 1397px;
  height: 170px;
  background-color: #141414;
  border-radius: 15px;
  border: 2px solid gray;
  color: white;
  padding: 20px;
  font-size: 16px;
  resize: none;
}
.zayavka .zayavka-obertka .zayavka-blok .zayavka-niz {
  width: 1397px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zayavka .zayavka-obertka .zayavka-blok .zayavka-niz .soglasie {
  width: 350px;
  height: 27px;
  color: #999999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.zayavka .zayavka-obertka .zayavka-blok .zayavka-niz .soglasie .soglasie-tekst .podcherk {
  text-decoration: underline;
  cursor: pointer;
}
.zayavka .zayavka-obertka .zayavka-blok .zayavka-niz .otpravit {
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background-color: #703bf7;
  transition: all 0.3s ease;
}
.zayavka .zayavka-obertka .zayavka-blok .zayavka-niz .otpravit:hover {
  background-color: #5a2fd6;
}

.prizyv {
  width: 100vw;
  height: 29vh;
  background-color: #141414;
  background-image: url(photo/CTA\ \(1\).png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.prizyv .prizyv-obertka {
  width: 89vw;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prizyv .prizyv-obertka .prizyv-tekst {
  width: 1154px;
  height: 167px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.prizyv .prizyv-obertka .prizyv-tekst h1 {
  color: white;
  font-size: 48px;
}
.prizyv .prizyv-obertka .prizyv-tekst p {
  color: #999999;
  font-size: 18px;
}
.prizyv .prizyv-obertka .prizyv-knopka {
  width: 192px;
  height: 63px;
  background-color: #703BF7;
  border-radius: 15px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s ease;
}
.prizyv .prizyv-obertka .prizyv-knopka:hover {
  background-color: #5a2fd6;
}

.podval {
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
}
.podval .podval-verh {
  width: 90vw;
  height: 35vh;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
.podval .podval-verh .podval-info {
  width: 538px;
  height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.podval .podval-verh .podval-info .podval-logo {
  width: 160px;
  height: 48px;
}
.podval .podval-verh .podval-info .podval-pochta {
  width: 323px;
  height: 46px;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background-color: #141414;
  border: 0.5px solid gray;
  cursor: pointer;
  font-size: 15px;
}
.podval .podval-verh .podval-menyu {
  width: 978px;
  height: 254px;
  display: flex;
  justify-content: space-between;
}
.podval .podval-verh .podval-menyu .podval-kolonka {
  width: 160px;
  height: 274px;
}
.podval .podval-verh .podval-menyu .podval-kolonka h3 {
  padding-bottom: 20px;
  color: #999999;
  font-size: 18px;
}
.podval .podval-verh .podval-menyu .podval-kolonka p {
  padding-bottom: 14px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.podval .podval-verh .podval-menyu .podval-kolonka p:hover {
  color: #703bf7;
}
.podval .podval-niz {
  width: 100vw;
  height: 10vh;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.podval .podval-niz .podval-prava {
  width: 600px;
  height: 20px;
  display: flex;
}
.podval .podval-niz .podval-prava p {
  padding-right: 20px;
  font-size: 15px;
}
.podval .podval-niz .podval-socseti img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}/*# sourceMappingURL=prop.css.map */